<div class="list card">
      <div class="item item-divider">Stap 1: Maak de foto</div>
      <div class="item item-body" style="text-align: center">
        <button class="round-button button-calm" ng-click="takePicture()"><img style="width: 180px" src="http://www.freedomrunfarm.com/assets/biro-logo.png" /></button>
        </div>
    <div class="item item-divider"><b>Wist je...</b></div>
      <div class="item item-body">
         <!--<button class="button button-block button-calm" ui-sref="create">Maak een melding</button>-->
         Het is erg moeilijk om van een trend te spreken wanneer het over beflijsters gaat. De soort heeft mogelijk enkele malen in Nederland gebroed, maar de documentatie is nooit voldoende geweest om dit met zekerheid aan te tonen. De vogel is dan ook vooral een doortrekker, waarvan er in de top van het trekseizoen honderden op de Waddeneilanden verblijven. Het ligt dan voor de hand dat er in heel Nederland zeker meer dan duizend vogels verblijven.
      </div>
    </div>