/* Empty. Add your own CSS if you like */

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#pictureFrame {
    width: 100%;
    text-align: center;
    height: 402px;
    border: 1px solid black;
    margin-bottom: 20px;
}